.searchField {
  margin: 20px;
}
.headings {
  font-size: 200%;
  font-weight: bold;
}
.landing {
  background-color: #1B1C1D;
  padding: 222px;
}

.footer {
  background-color: #1B1C1D;
  color: white;
}
