.searchField {
  margin: 20px;
}
.headings {
  font-size: 200%;
  font-weight: bold;
}
.background {
  background-color: #1B1C1D;
  margin: auto;
}

.footer {
  background-color: #1B1C1D;
  color: white;
}
